<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="refresh" content="30" />
      <title><%= title %></title>
      <script src="https://cdn.tailwindcss.com"></script>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>
   <body>
      <h1 class="text-xl text-center mt-5 mb-5">Welcome to <%= title %></h1>
      <div><%- select_box_str -%> <%- table_str -%></div>
      <script>
         window.setInterval(() => {
            window.location.reload();
         }, 10000);
      </script>
   </body>
   <div class="m-10 p-5 ml-auto mr-auto">
      <a
         class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-10 text-center"
         href="https://cloudcomputingasm2-production.up.railway.app/"
      >
         Log out
      </a>
   </div>
</html>
