<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- Navigate Login -->
    <form action="" method="post">
      <input type="submit" value="Login">
    </form>
  </body>
</html>









