<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- Login -->
    <form action="login" method="post">
      <label for="username">Username</label>
        <input type="text" 
               name="username" 
               placeholder="enter username">
      </div>
      <div>
        <label for="Password">Password</label>
        <input type="password" 
               name="password" 
               placeholder="enter password">
      </div>
      
      <input type="submit" value="Login">
      <p><%= message %></p>
    </form>
  </body>
</html>
